/* Style de base pour le corps */
body {
    margin: 0;
    padding: 0;
    min-height: 4096px;
    transition: background-color 0.5s;
}

/* Style pour le footer */
footer {
    position: fixed;
    bottom: 0; /*en bas */
    left: 0;
    width: 100%; /*tout la largeur */
    height: 50px;
    background-color: rgb(0, 128, 255); /* Couleur de départ */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.5s;
}

/* Style spécifique pour "La Plateforme_" après le code Konami */
.konami-style {
    /* background-color: #ff4500; Couleur d'arrière-plan pour La Plateforme_ */
    background-color: #0693e3; 
    /* 0, 98, 255 */
    color: white;
}

.konami-style footer {
    background-color: #0000ff; /* Couleur du footer pour La Plateforme_ */
    color: #fff;
}
